networks:
  app_networks:
    driver: bridge
services:
  redis:
    image: redis/redis-stack:latest
    container_name: redis
    ports:
      - "6379:6379"
      - "8001:8001"
    restart: unless-stopped
    volumes:
      - redis_data:/data
    networks:
      - app_networks

volumes:
  redis_data: