networks:
  app_networks:
    driver: bridge
services:

  fastapi:
    build:
      context: .
      dockerfile: Backend/Dockerfile
    container_name: fastapi
    ports:
      - "8000:8000"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis
    networks:
      - app_networks
    volumes:
      - .:/app
      - ./outputs:/app/outputs
      - ./mlruns:/app/mlruns
      - ./mlartifacts:/app/mlartifacts
      - ./feature_store:/app/feature_store
    command: uvicorn backend.main:app --host 0.0.0.0 --port 8000 --workers 4

  redis:
    image: redis/redis-stack:latest
    container_name: redis
    ports:
      - "6379:6379"
      - "8001:8001"
    restart: unless-stopped
    volumes:
      - redis_data:/data
    networks:
      - app_networks

volumes:
  redis_data: